<div class="page" data-name="reminders">
	<div class="navbar">
		<div class="navbar-inner sliding" id="alert-bg-color">
			<div class="left">
				<a href="" class="link" id="reminders-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Reminders</div>
			<div class="right">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="toolbar tabbar tabbar-labels toolbar-bottom">
		<div class="toolbar-inner">
			<a href="#tab-1" class="tab-link tab-link-active">
				<i class="icon icon-fill f7-icons if-not-md">calendar_today<span class="badge color-red reminder-current">5</span></i>
				<i class="icon material-icons md-only">calendar_today<span class="badge color-red reminder-current">5</span></i>
				<span class="tabbar-label">Current</span>
			</a>
			<a href="#tab-2" class="tab-link">
				<i class="icon f7-icons if-not-md">calendar<span class="badge color-blue reminder-past">7</span></i>
				<i class="icon material-icons md-only">calendar<span class="badge color-blue reminder-past">7</span></i>
				<span class="tabbar-label">Past</span>
			</a>
			<a href="#tab-3" class="tab-link">
				  <i class="icon f7-icons if-not-md">calendar_circle_fill<span class="badge color-gray reminder-archived">1</span></i>
				<i class="icon material-icons md-only">calendar_circle_fill<span class="badge color-gray reminder-archived">1</span></i>
				<span class="tabbar-label">Archive</span>
			</a>
		</div>
	</div>
	<div class="tabs-animated-wrap">
		<div class="tabs bottom-toolbar">
			<div class="page-content tab tab-active" id="tab-1">
				<div class="text-align-center h4">Current Reminders</div>
				<div class="list media-list">
					<ul id="reminderListCurrent">
																																																			
					</ul>	
				</div>								
			</div>
			<div class="page-content tab" id="tab-2">
				<div class="text-align-center h4">Reminder History</div>
				<div class="list media-list">
					<ul id="reminderListPast">
																																																			
					</ul>	
				</div>								
			</div>
			<div class="page-content tab" id="tab-3">
				<div class="text-align-center h4">Archived Reminders</div>
				<div class="list media-list">
					<ul id="reminderListArchived">
																																																			
					</ul>	
				</div>							
			</div>
		</div>
	</div>
</div>