<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Reminder due today">
		<meta name="author" content="reset@littleReminder.co.uk">
		<title>Little Reminder : Reminder due today</title>
	    <style type="text/css">

			html, body {
				padding: 0px;
				margin: 0px;
				font-family: 'Varela Round', arial, sans-serif;
			}
			.title {
				background: #292929;
				color: #efefef;
				padding: 2rem;
				line-height: 3rem;
				font-size: 3rem;
			}
			.sub-title {
				background: #7c0101;
				height: 1rem;
				color: #efefef;
				padding: 0.5rem;
				line-height: 1rem;
				font-size: 1rem;
			}
			.footer {
				background: #acacac;
				font-size: 0.8rem;
				color: #efefef;
				margin: 0px;
				padding: 1rem;
				text-align: center;
			}

			.body-text {
			  font-size: 1rem;
			  color: #373737;
			  padding: 2rem;
			}
		</style>
	</head>
	<body>
	<div class="title">
		Little Reminder
	</div>
	<div class="sub-title">
		Reminders : Today is the day!!
	</div>	
	<div class="body-text">
		<p>
			Hello {{firstname}},
		</p>
		<h3>Today is the day!!</h3>
		<h3>Reminder {{description}} is due today {{reminderDate}}</h3>
		<div id="notes">
			Reminder Notes<br />
			{{notes}}<br />
		</div>		
		<p>
			Thanks
		</p>
		<p>
			Reminders Team
		</p>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
	<div class="footer">
		<address>LittleReminder.co.uk &copy;2007-2020 John R. Bayley </address>
	</div>
</body>
</html>
