<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="New Reminder added Acknowledgement">
		<meta name="author" content="reset@littleReminder.co.uk">
		<title>Little Reminder : New Reminder added Acknowledgement</title>
	    <style type="text/css">

			html, body {
				padding: 0px;
				margin: 0px;
				font-family: 'Varela Round', arial, sans-serif;
			}
			.title {
				background: #292929;
				color: #efefef;
				padding: 2rem;
				line-height: 3rem;
				font-size: 3rem;
			}
			.sub-title {
				background: #7c0101;
				height: 1rem;
				color: #efefef;
				padding: 0.5rem;
				line-height: 1rem;
				font-size: 1rem;
			}
			.footer {
				background: #acacac;
				font-size: 0.8rem;
				color: #efefef;
				margin: 0px;
				padding: 1rem;
				text-align: center;
			}

			.body-text {
			  font-size: 1rem;
			  color: #373737;
			  padding: 2rem;
			}
		</style>
	</head>
	<body>
	<div class="title">
		Little Reminder
	</div>
	<div class="sub-title">
		Reminders : {{reminderPeriod}} New Reminder Acknowledgement
	</div>	
	<div class="body-text">
		<p>
			Hello {firstname},
		</p>
		<p>
			This is confirm that your reminder from littlereminder.co.uk <br />
			is set up and ready to go.<br />
			Check your reminder plan for full details of reminder notifications to be sent and when.
			<ul>
				<li>One month before</li>
				<li>Two weeks before</li>
				<li>One week before</li>
				<li>One day before</li>
				<li>Onthe day</li>
			</ul>
		</p>
		<h3>The reminder is for {{description}} which is on {{reminderDate}} [{{reminderPeriod}}] {{lowLong}}</h3>
		<p>
			Thanks
		</p>
		<p>
			Reminders Team
		</p>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
	<div class="footer">
		<address>LittleReminder.co.uk &copy;2007-2020 John R. Bayley </address>
	</div>
</body>
</html>
